* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    width: 100%;
    background-color: #F8FAFC;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.p_header{
    margin: 13px 39px;
}


.box1{
    width: 400px;
    height: 60px;
    background-color: #F5D565;
    border-radius: 13px;
    margin: 27px;
    display: flex;
    align-items: center;
    padding-left: 13px ;
}
.img1{
    width: 37px;
    height: 37px;
    border-radius: 12px;
}
.h1{
    margin: 0px 111px 0px 17px;
}
.icon1{
    width: 40px;
    height: 40px;
    background-color: #E9A23B;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box2{
    width: 400px;
    height: 60px;
    background-color: #A0ECB1;
    border-radius: 13px;
    margin: 27px;
    display: flex;
    align-items: center;
    padding-left: 13px ;
}
.img2{
    width: 37px;
    height: 37px;
    border-radius: 12px;
}
.h2{
    margin: 0px 119px 0px 17px;
}
.icon2{
    width: 40px;
    height: 40px;
    background-color: #32D657;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box3{
    width: 400px;
    height: 60px;
    background-color: #F7D4D3;
    border-radius: 13px;
    margin: 27px;
    display: flex;
    align-items: center;
    padding-left: 13px ;
}
.img3{
    width: 37px;
    height: 37px;
    border-radius: 12px;
}
.h3{
    margin: 0px 138px 0px 17px;
}
.icon3{
    width: 40px;
    height: 40px;
    background-color: #DD524C;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
